.catalogo-container{
    max-width: 80%;
    min-height: 70%;
    margin: 30px 45px;
    padding: 34px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.catalogo{
    width: 325px;
    margin: 7px;
    padding: 8px 8px;
    display: flex;
    justify-content: center;

}

.pagination-container{
    width: 100%;
    background-color: #8B0000;
    min-height: 50px;
    font-size: 60px;
    margin: 17px 0 17px 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color:  white;
    
}

.button-buy{
    background-color: #fcfcfc;
    color: black;
    border-radius: 12px;
    font-family: Lato, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 25px 0 25px;
    padding: 5px;
}
