h3{
    display: flex;
    justify-content: center;
    color: #fff;
}
h3:hover{
    background-color:  #9932CC;
    transition: 4.5ms;
}

.menu-container{
    background-color: #8B0000;
    color: #000;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 154px;
    height: 61px;
    cursor: pointer;
}

.option-menu{
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.item-menu{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.item-menu:hover{
    background-color:  #9932CC;
}
